<div class="music-item">
  <img
    src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fstatic1.squarespace.com%2Fstatic%2F56454c01e4b0177ad4141742%2F56f3eeaa6e06f2df013dd6cd%2F56f3ef166e06f2df013de90c%2F1458827030375%2FCovers-Vol.-1-Cover.jpg%3Fformat%3Doriginal&f=1&nofb=1&ipt=5689428726ee7f772f3153d6297f8bb1aa034d7a394a36076941bb5b23ea799b"
    alt="Music cover"
    class="cover"
  />

  <div class="metadata">
    <div class="header">
      <span class="title">Stereo Love</span>
      <span class="category">Rock</span>
    </div>

    <span class="author">Author</span>
    <span class="album">Album</span>
    <span class="duration">3:27</span>

    <div class="song-buttons">
      <svg class="edit-icon" viewBox="0 0 18 18">
        <path
          d="M0,14.2 L0,18 L3.8,18 L14.8,6.9 L11,3.1 L0,14.2 L0,14.2 Z M17.7,4 C18.1,3.6 18.1,3 17.7,2.6 L15.4,0.3 C15,-0.1 14.4,-0.1 14,0.3 L12.2,2.1 L16,5.9 L17.7,4 L17.7,4 Z"
        />
      </svg>

      <svg class="delete-icon" viewBox="0 0 24 24">
        <path
          d="M18.9,8H5.1c-0.6,0-1.1,0.5-1,1.1l1.6,13.1c0.1,1,1,1.7,2,1.7h8.5c1,0,1.9-0.7,2-1.7l1.6-13.1C19.9,8.5,19.5,8,18.9,8z"
        />
        <path
          d="M20,2h-5l0,0c0-1.1-0.9-2-2-2h-2C9.9,0,9,0.9,9,2l0,0H4C2.9,2,2,2.9,2,4v1c0,0.6,0.4,1,1,1h18c0.6,0,1-0.4,1-1V4    C22,2.9,21.1,2,20,2z"
        />
      </svg>
    </div>
  </div>
</div>
