<div class="adicionarMusica">
  <form id="music-form">
    <h1>Adicionar Música</h1>

    <div class="row">
      <input type="text" placeholder="Titulo" id="title" name="nome" required />
      <input
        type="text"
        placeholder="Artista"
        id="artist"
        name="autor"
        required
      />
    </div>

    <div class="row">
      <input
        type="number"
        placeholder="Duração"
        id="duration"
        name="duracao"
        required
      />
      <input
        type="url"
        placeholder="URLda Capa"
        id="cover"
        name="capa"
        required
      />
    </div>

    <div class="row">
      <input type="text" placeholder="Album" id="album" name="album" />

      <input type="text" placeholder="Gênero" id="category" name="genero" />
    </div>

    <div id="buttons">
      <button id="create-button" type="submit" class="botaoCriar">
        Salvar
      </button>

      <button id="cancel-button" type="button" class="cancel-button">
        Cancelar
      </button>
    </div>
  </form>
</div>
