<div class="music-item">

    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fstatic1.squarespace.com%2Fstatic%2F56454c01e4b0177ad4141742%2F56f3eeaa6e06f2df013dd6cd%2F56f3ef166e06f2df013de90c%2F1458827030375%2FCovers-Vol.-1-Cover.jpg%3Fformat%3Doriginal&f=1&nofb=1&ipt=5689428726ee7f772f3153d6297f8bb1aa034d7a394a36076941bb5b23ea799b" alt="Music cover" class="cover">

    <div class="metadata">
        <span class="title">Stereo Love</span>
        <span class="author">Author</span>
        <span class="album">Album</span>
        <span class="category">Rock</span>
        <span class="duration">3:27</span>
    </div>

</div>
